<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.wo_mo.dubi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lingdang"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.EditActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".ui.MYNotifyActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.UserInfoActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.ImageActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity android:name=".ui.FansActivty">
        </activity>
        <activity android:name=".ui.FriendsActivity">
        </activity>
        <activity android:name=".ui.CommentActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.EditInfoActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>